
body {
    background-color: rgb(241, 98, 42);;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: rgb(241, 98, 42);
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 20px;
}

.works {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    width: calc(50% - 10px); 
    margin-bottom: 20px;
}

.project h2 {
    font-size: 1.5em;
   color: #ffffff;
}

figure 
{
  width: 19%;
  
  float: left;

  
  margin-top: 2%;
  margin-left: 0.1%;
}


figure img 
{
  background-color: lightblue;
  width: 100%;
  border-radius: 10px;
}


figcaption 
{
  text-align: center
}

section {
    max-width: 800px;
    margin: 0 auto;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    margin-top: 100px;
    margin-left: 500px;
}
a:hover {
    text-decoration: underline;
}